.container {
  width: 70%;
  margin: 0 auto;
}
.smallpic {
  width: 100px;
  height: auto;
  border-bottom: 30px solid rgba(217, 212, 184, 0.72);
  border-top: 30px solid rgba(217, 212, 184, 0.72);
  box-shadow: 0px 2px 0px #888888;
  padding: 0 20px;
}
.bigpic {
  width: 40%;
  height: auto;
  border-bottom: 40px solid rgba(217, 212, 184, 0.72);
  border-top: 40px solid rgba(217, 212, 184, 0.72);
  box-shadow: 0px 2px 0px #888888;
  padding: 0 20px;
}
#burnbook {
  height: 400px;
  box-shadow: 10px 10px 5px #888888;
}
body {
  font-family: 'Permanent Marker', cursive;
  color: rgb(177, 7, 140);
  text-align: center;
  background: url(http://i.imgur.com/VroEXH6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  text-decoration: none;
  color: rgb(177, 7, 140);
}
input {
  padding: 10px;
  font-family: monospace;
}
button {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #d651ac);
  background-image: -moz-linear-gradient(top, #ff0000, #d651ac);
  background-image: -ms-linear-gradient(top, #ff0000, #d651ac);
  background-image: -o-linear-gradient(top, #ff0000, #d651ac);
  background-image: linear-gradient(to bottom, #ff0000, #d651ac);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #ff4cb7;
  background-image: -webkit-linear-gradient(top, #ff4cb7, #ff1414);
  background-image: -moz-linear-gradient(top, #ff4cb7, #ff1414);
  background-image: -ms-linear-gradient(top, #ff4cb7, #ff1414);
  background-image: -o-linear-gradient(top, #ff4cb7, #ff1414);
  background-image: linear-gradient(to bottom, #ff4cb7, #ff1414);
  text-decoration: none;
}
#black {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  background: #000000;
  padding: 10px;
  text-decoration: none;
}

#black:hover {
  background: #0a0a0a;
  background-image: -webkit-linear-gradient(top, #0a0a0a, #9c9c9c);
  background-image: -moz-linear-gradient(top, #0a0a0a, #9c9c9c);
  background-image: -ms-linear-gradient(top, #0a0a0a, #9c9c9c);
  background-image: -o-linear-gradient(top, #0a0a0a, #9c9c9c);
  background-image: linear-gradient(to bottom, #0a0a0a, #9c9c9c);
  text-decoration: none;
}
```
