<h2>Create new Burn Victim</h2>
<form action="/burnbook" method="post">
  <label>Name:</label>
  <input type="text" name="name">
  <label>offense</label>
  <input type="text" name="offense">
  <label>imgUrl</label>
  <input type="text" name="imageUrl">
  <input type="submit">


</form>
