<h2>These are all the burnbook victims</h2>

<button data-ng-hide="newgirl" data-ng-click="newgirl = !newgirl">New grumble</button>
<form data-ng-show="newgirl" data-ng-submit="GirlIndexControllerVM.create(); newgirl = !newgirl">
  <input placeholder="name" data-ng-model="GirlIndexControllerVM.newgirl.name" />
  <input placeholder="offense" data-ng-model="GirlIndexControllerVM.newgirl.offense" />
  <input placeholder="Photo URL" data-ng-model="GirlIndexControllerVM.newgirl.imageUrl" />
  <button type="submit">Create</button>
</form>



<div data-ng-repeat="girl in GirlIndexControllerVM.girls">
  <p>
    <a data-ui-sref="show({id: girl._id})">{{girl.name}}</a>
  </p>

  <img ng-src="{{girl.imageUrl}}" alt="{{girl.name}}" class="smallpic"/>

  <p>{{girl.offense}}</p>

</div>
